@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.DependencyInjection;
@{
  var entity_manager = get_service<IVySoft.VPlatform.TemplateService.Entity.IEntityManager>();
  var razor = get_service<IVySoft.VPlatform.TemplateService.Razor.IRazorManager>();
  var sp = entity_manager.get_db_model<IVySoft.SiteBuilder.DbModel>();
  var scope = sp.CreateScope();
  var db = scope.ServiceProvider.GetService<IVySoft.SiteBuilder.DbModel>();
  var control = (IVySoft.SiteBuilder.TextInput)db.FormControls.Single(x => x.Id == (int)Parameters["ControlId"]);
}
<div class="form-group">
    <label for="@control.ClientId">@control.Label</label>
    <input type="text" class="form-control" id="@control.ClientId" aria-describedby="@(control.ClientId)Help" placeholder="@control.Placeholder">
    <small id="@(control.ClientId)Help" class="form-text text-muted">@control.Help</small>
</div>